@gentics:registry=https://repo.gentics.com/repository/npm-products/
git-tag-version = false
allow-same-version = true
//repo.gentics.com/repository/npm-products/:_auth=amVua2luczpRVjVkQ0U0eUI4WnlVbTl0ZWE2OTdkYXU1emVYOGY=
//repo.gentics.com/repository/npm-products/:_auth=amVua2luczpRVjVkQ0U0eUI4WnlVbTl0ZWE2OTdkYXU1emVYOGY=
//repo.gentics.com/repository/npm-products/:_auth=amVua2luczpRVjVkQ0U0eUI4WnlVbTl0ZWE2OTdkYXU1emVYOGY=
