<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<conversionRule conversionWord="meshName"
		converterClass="com.gentics.mesh.log.MeshLogNameConverter" />

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>TEST %-5level [%thread] [%file:%line] - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>TEST %-5level [%thread] [%file:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
