# Extra files we can skip
services/image-imgscalr/src/test/resources
elasticsearch/src/main/resources
databases/orientdb/src/main/resources
doc/src/main/docs

core/plugins
core/src/test/resources

demo/src/main/resources
demo/elasticsearch
demo/data
demo/target
server/elasticsearch
server/data*
server/target

**.vertx
**.settings
**.classpath
**.project
**/target
.git
.idea
