target
.classpath
.project
.settings
.bin
.pmd*
*.orig
.index*
hs_err_*.log
.vertx
dependency-reduced-pom.xml
.checkstyle
mesh.json
.bak
verticles/admin-gui/node_modules
verticles/admin-gui/bower_components
npm-debug.log*
core/data
server/data
examples/demo-java/data
core/tmp
mesh-searchindex
mesh-graphdb
/bower_components/
/build
/dist
/node
/node_modules
/typings

