.DS_Store
target
.classpath
.project
/build.sh
/build8.sh
/build11.sh
.settings
.bin
.pmd*
*.orig
.index*
hs_err_*.log
.vertx
dependency-reduced-pom.xml
.checkstyle
mesh.json
mesh-config.yml
.testcontainers*
mesh.yml
.bak
mesh.lock
verticles/admin-gui/node_modules
verticles/admin-gui/bower_components
npm-debug.log*
server/data
server/config
server/data-*
examples/demo-java/data
core/tmp
orient-plugins
mesh-searchindex
mesh-graphdb
orientdb-plugins
keystore.jceks
/bower_components/
mesh.lock
mesh.live
/dist
/node
/node_modules
/typings
binaryImageCache
.factorypath
mesh-ui-config.js
*/config/security.json
doc/src/main/docs/changelog.asciidoc
alltests
inclusions.txt
/includes-*
.idea
*.iml
elasticsearch-6.1.2
build.sh
debuginfo.log
/.run
/core/debuginfo
mesh-mdm/config
/config/
/data/graphdb/storage/
.vscode
.asciidoctorconfig.adoc
