.syntaxhighlighter .line {
    white-space: nowrap !important;
}

.syntaxhighlighter .line.alt1 {
    white-space: nowrap !important;
}

.syntaxhighlighter .line.alt2 {
    white-space: nowrap !important;
}

.syntaxhighlighter .keyword {
	margin: 0 0 0 -8px !important;
}

.syntaxhighlighter {
	font-size: small !important;
}
