<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.gentics.mesh.log.MeshLogLayout"/>
		</encoder>
	</appender>
	<logger name="com.gentics.mesh" level="DEBUG"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
