<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<conversionRule conversionWord="meshName"
		converterClass="com.gentics.mesh.log.MeshLogNameConverter"/>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%meshName] %-5level [%thread] [%file:%line] - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%meshName] %-5level [%thread] [%file:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>
<!-- 
	<logger name="io.vertx" level="INFO"/>
	<logger name="com.gentics.mesh" level="INFO"/>
	<logger name="org.elasticsearch" level="INFO"/>
	<logger name="com.gentics.mesh.rest.MeshResponseHandler" level="TRACE"/>
	 -->
<!-- 
	<logger name="com.gentics" level="ERROR" additivity="false">
		<appender-ref ref="STDERR"/>
	</logger>
 -->
<!--
<logger name="com.gentics.mesh.rest.MeshResponseHandler" level="DEBUG"/>
<logger name="com.gentics.mesh.rest.MeshRestRequestUtil" level="DEBUG"/>
-->
<root level="ERROR">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
