<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<conversionRule conversionWord="meshName"
		converterClass="com.gentics.mesh.log.MeshLogNameConverter"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%meshName] %-5level [%thread] [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT-err" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<target>System.err</target>
		<encoder>
			<pattern>%d [%meshName] %-5level [%file:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.gentics.mesh" level="INFO"/>

	<root level="ERROR">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
