<settings>
	<servers>
		<server>
			<id>lan.snapshots</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.thirdparty</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.mirror</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.internal</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.releases</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.releases.staging.gcn</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>misc</id>
			<properties>
				<JAVA_1_8_HOME>/usr/lib/jvm/java-8-oracle</JAVA_1_8_HOME>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>misc</activeProfile>
	</activeProfiles>
</settings>
