<settings>
	<mirrors>
		<mirror>
			<id>lan.mirror</id>
			<name>Gentics LAN Mirror Repository</name>
			<url>https://repo.apa-it.at/gtx-maven-mirror/</url>
			<mirrorOf>central,maven2,maven2-repository,oss.sonatype.org,jboss-repository,maven-repository.dev.java.net,repo.jenkins-ci.org</mirrorOf>
		</mirror>
		<mirror>
			<id>lan.internal</id>
			<name>Gentics LAN Mirror Repository</name>
			<url>https://repo.apa-it.at/gtx-maven-internal/</url>
			<mirrorOf>maven.gentics.com</mirrorOf>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>lan.snapshots</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.thirdparty</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.mirror</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.internal</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.releases</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
		<server>
			<id>lan.releases.staging.gcn</id>
			<username>${env.repoUsername}</username>
			<password>${env.repoPassword}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>misc</id>
			<properties>
				<JAVA_1_8_HOME>/usr/lib/jvm/java-8-oracle</JAVA_1_8_HOME>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>misc</activeProfile>
	</activeProfiles>
</settings>
