.DS_Store
target
.classpath
.project
/build.sh
/build8.sh
/build11.sh
.settings
.bin
.pmd*
*.orig
.index*
hs_err_*.log
.vertx
dependency-reduced-pom.xml
.checkstyle
.factorypath
debuginfo.log
mesh.live
