AddDefaultCharset utf-8

#AddType application/x-httpd-php .php .html

Options +FollowSymLinks
<IfModule mod_autoindex.c>
IndexIgnore */*
</ifModule>
RewriteEngine on


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
