---
defaultMaxDepth: 10
defaultLanguage: "en"
languagesFilePath: null
updateCheck: true
vertxOptions:
  workerPoolSize: 20
  eventPoolSize: 2
  orderedBlockingHandlers: true
  eventBus:
    checkInterval: 30000
    warnThreshold: 60000
    errorThreshold: 120000
s3options:
  enabled: false
  bucket: null
  expirationTimeUpload: 60000
  expirationTimeDownload: 360000
  linkResolver: null
  metadataWhitelist: null
  parserLimit: 40000
  region: null
  secretAccessKey: null
  accessKeyId: null
  endpoint: null
  s3cacheOptions:
    bucket: null
    expirationTimeDownload: 360000
    expirationTimeUpload: 60000
    region: null
  corsAllowedHeaders:
  - "*"
  corsAllowedOrigins:
  - "*"
  corsAllowedMethods:
  - "GET"
  - "PUT"
  - "POST"
  - "DELETE"
tempDirectory: "/opt/mesh/data/tmp"
pluginDirectory: "plugins"
pluginTimeout: 120
nodeName: null
startInReadOnly: false
versionPurgeMaxBatchSize: 10
migrationMaxBatchSize: 50
migrationTriggerInterval: 60000
pluginUseHttp2: false
storageOptions:
  nativeQueryFiltering: "ON_DEMAND"
  retryLimit: 10
  retryDelayMillis: 2000
  driverClass: null
  dialectClass: null
  databaseAddress: null
  connectionUrlExtraParams: ""
  databaseName: "mesh"
  databaseConnectorClasspath: ""
  connectionUsername: "admin"
  connectionPassword: "admin"
  showSql: false
  formatSql: false
  hikariOptions:
    autocommit: false
    connectionTimeout: 10000
    idleTimeout: 600000
    maxLifetime: 1800000
    minimumIdleConnection: 20
    maxPoolSize: 20
    poolName: "MeshHikariCP"
    registerMBeans: false
    transactionIsolationLevel: null
    leakDetectionThreshold: 0
  synchronizeWrites: false
  synchronizeWritesTimeout: 60000
  secondLevelCacheEnabled: true
  generateStatistics: false
  queryTimeout: 0
  slowSqlThreshold: 60000
  jdbcBatchSize: 5
  sqlParametersLimit: "definedByDatabase"
  staleTxCheckInterval: 10000
licenseKeyPath: "license.key"
licenseKey: null
httpServer:
  port: 8080
  sslPort: 8443
  host: "0.0.0.0"
  corsAllowedOriginPattern: ""
  corsAllowCredentials: false
  useAlpn: false
  enableCors: false
  http: true
  ssl: false
  certPath: "config/cert.pem"
  keyPath: "config/key.pem"
  clientAuthMode: "NONE"
  trustedCertPaths: []
  verticleAmount: 2
  minifyJson: true
  maxFormAttributeSize: -1
  serverTokens: true
monitoring:
  enabled: true
  port: 8081
  host: "127.0.0.1"
  jvmMetricsEnabled: true
cluster:
  networkHost: null
  enabled: false
  clusterName: null
  vertxPort: 4848
  coordinatorRegex: null
search:
  url: "http://localhost:9200"
  username: null
  password: null
  certPath: null
  caPath: null
  hostnameVerification: true
  timeout: 60000
  prefix: "mesh-"
  bulkLimit: 100
  bulkLengthLimit: 5000000
  eventBufferSize: 1000
  bulkDebounceTime: 2000
  idleDebounceTime: 100
  retryInterval: 5000
  retryLimit: 3
  waitForIdle: true
  includeBinaryFields: true
  mappingMode: "DYNAMIC"
  complianceMode: "ES_6"
  syncBatchSize: 50000
  syncFetchBatchSize: 10000
  indexCheckInterval: 60000
  indexMappingCacheTimeout: 3600000
upload:
  byteLimit: 262144000
  directory: "data/binaryFiles"
  tempDirectory: "/opt/mesh/data/tmp/temp-uploads"
  parserLimit: 40000
  parser: true
  metadataWhitelist: null
  checkInterval: 60000
security:
  tokenExpirationTime: 3600
  keystorePassword: "<Your Password>"
  keystorePath: "config/keystore.jceks"
  algorithm: "HS256"
  enableAnonymousAccess: true
  publicKeysPath: "config/public-keys.json"
image:
  mode: "ON_DEMAND"
  imageCacheDirectory: "data/binaryImageCache"
  imageCacheCleanInterval: "PT0S"
  imageCacheMaxIdle: "PT1M"
  imageCacheTouch: false
  maxWidth: 2048
  maxHeight: 2048
  jpegQuality: 0.95
  resampleFilter: "LANCZOS"
content:
  autoPurge: true
  batchSize: 5000
cache:
  pathCacheSize: 20000
  fieldContainerCacheSize: "50_000"
  listFieldCacheSize: "50_000"
debugInfo:
  logFolder: "debuginfo"
  logFileSize: "5MB"
  logEnabled: true
  logPattern: "%d{HH:mm:ss.SSS} [%meshName] %-5level [%thread] [%file:%line] - %msg%n"
graphQL:
  slowThreshold: 60000
  asyncWaitTimeout: 120000
  schemaCacheSize: 1000
